---
import Layout from "~/layouts/Layout.astro";
import { DESCRIPTION, TITLE } from "~/consts";

import { getCollection } from "astro:content";
const posts = await getCollection("posts");
---

<Layout title={TITLE} description={DESCRIPTION}>
  <main>
    <h1>전체 게시물</h1>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/posts/${post.id}`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
