---
import type { Tag } from "~/types";
import type { HTMLAttributes } from "astro/types";
import { tagIconMap } from "~/utils/tagIcons";

interface Props extends HTMLAttributes<"span"> {
  tag: Tag;
  transition: string;
}

const { tag, transition, ...attrs } = Astro.props;
const Icon = tagIconMap[tag];
---

<span
  class:list={[
    "text-xs border px-2 py-1 rounded-xl flex items-center",
    attrs.class,
  ]}
>
  <Icon size={16} class="mr-1" transition:name={transition} />
  {tag}
</span>
