---
import BaseHead from "~/components/BaseHead.astro";

interface Props {
  title: string;
  description: string;
}
---

<!doctype html>
<html lang="ko-KR">
  <head>
    <BaseHead {...Astro.props} />
  </head>
  <body class="antialiased">
    <slot />
  </body>
</html>
